In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('./data/suicide-death-rates.csv')
print(df.shape)
df.head()

(6468, 4)

,Entity,Code,Year,Deaths - Self-harm - Sex: Both - Age: Age-standardized (Rate)
0,Afghanistan,AFG,1990,10.318504
1,Afghanistan,AFG,1991,10.327010
2,Afghanistan,AFG,1992,10.271411
3,Afghanistan,AFG,1993,10.376123
4,Afghanistan,AFG,1994,10.575915

In [13]:
# classify countries, and regions

In [ ]:
no_country = ['OWID_WRL', ]

In [15]:
df.Code.value_counts()

SOM    28
TLS    28
BDI    28
ARG    28
ALB    28
       ..
HND    28
GTM    28
BOL    28
SVN    28
GRL    28
Name: Code, Length: 196, dtype: int64

In [9]:
df[df.Year == 2017]

,Entity,Code,Year,Deaths - Self-harm - Sex: Both - Age: Age-standardized (Rate)
27,Afghanistan,AFG,2017,9.188568
55,Albania,ALB,2017,5.108781
83,Algeria,DZA,2017,4.124306
111,American Samoa,ASM,2017,6.738545
139,Andean Latin America,NaN,2017,5.389730
...,...,...,...,...
6355,Western Sub-Saharan Africa,NaN,2017,9.496388
6383,World,OWID_WRL,2017,9.976258
6411,Yemen,YEM,2017,6.013435
6439,Zambia,ZMB,2017,13.060061
6467,Zimbabwe,ZWE,2017,26.391769